.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }
  img{
    margin-left: 35%;
    
  }
  h1{
    text-align: center;
  }
  
  .form-signin .checkbox {
    font-weight: 400;
  }
  
  .form-signin .form-floating:focus-within {
    z-index: 2;
  }
  
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-color: #0a58ca;
  }
  
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-color: #0a58ca;
  }
  .btn{
    border-color: #0a58ca;
    background-color: #fff;
    color: #0a58ca;
  }
